body {
  font-family: 'Helvetica', 'Helvetica Neue', 'Inter', sans-serif;
  --color-text: #000000;
  --color-bg: #FFFFFF;
  --color-muted: #CECECE;
  --color-accent: #58BCD7;
  --color-badge-text: #FFFFFF;
  --color-gray: #344257;
  --color-hr: #888888;
  --color-star-bg: #CECECE;
  background-color: var(--color-bg);
  font-size: 16px;
}

hr {
  margin: 0 7rem;
  border-top-width: 2px;
  border-top-color: var(--color-hr);
}

h6 {
  margin-top: 1.5rem;
  font-weight: bold;
}

.content {
  max-width: 660px;
}

@media (max-width: 950px) {
  hr {
    margin: 0 2rem;
  }
}
